$blue-color: #2f80ed;
$green-color: #00a307;
$red-color: #ca0000;

@mixin myButton($btn-color) {
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;

  cursor: pointer;

  background: $btn-color;
  &:hover {
    background: darken($color: $btn-color, $amount: 8);
  }
}

.admin {
  width: 100vw;
  background: #e5e5e5;

  &__content {
    padding: 50px 50px;
    transition: padding-left 0.5s;
    min-height: 100vh;
  }

  &__overlay {
    position: relative;
    transition: background 1s;

    &.modalOpen {
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
      }
    }
  }
}
