.simpleNav {
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 5px 85px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  &__btn {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    span {
      position: absolute;
      width: 30px;
      height: 3px;
      background: #000;
      transition: transform 0.5s, height 0.5s, top 0.5s;

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
      }

      &:last-child {
        top: 100%;
      }
    }

    &.open {
      span:first-child {
        align-self: center;
        top: 50%;
        transform: rotate(45deg);
      }
      span:nth-child(2) {
        height: 0;
        transform: rotate(45deg);
      }

      span:last-child {
        align-self: center;
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }
}
