.order {
  width: 100%;

  padding: 0 60px;

  @media (max-width: 1200px) {
    padding: 0 15px;
  }

  @media (max-width: 500px) {
    padding: 0;
  }

  &__popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000006b;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      height: auto;
      width: 768px;
      max-height: 90vh;
      min-width: 290px;
      background: #fff;
      border-radius: 20px;
      padding: 10px 20px;
      position: relative;
      margin: 0 30px;

      @media (max-width: 768px) {
        overflow: scroll;
      }
    }

    &__close-btn {
      border: 1px solid #e9e9e9;
      border-radius: 50px;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;

      cursor: pointer;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 22px;
      line-height: 50px;

      @media (max-width: 400px) {
        margin-top: 25px;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: 52% 48%;

      @media (max-width: 768px) {
        grid-template-columns: auto;
      }

      &__item {
        width: 100%;
        height: 100%;

        &.left {
          display: grid;
          grid-template-rows: auto auto;
          border-right: 3px solid #e5e5e5;
          padding-right: 5px;

          @media (max-width: 768px) {
            border: none;
          }
        }

        &.right {
          padding-left: 20px;
          padding-right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          max-height: 520px;
          overflow: scroll;

          @media (max-width: 768px) {
            overflow: visible;
            border: none;
            padding: 0;
            padding-bottom: 10px;
            border-bottom: 3px solid #e5e5e5;
            border-radius: 2px;
          }
        }
      }

      &__order-num {
        display: grid;
        place-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 86px;
        line-height: 115px;
        min-height: 170px;

        color: #c42727;
        border-bottom: 3px solid #e5e5e5;

        @media (max-width: 768px) {
          border: none;
          min-height: 120px;
        }
      }

      &__order-details {
        margin-bottom: 10px;
        display: flex;
        margin-top: 10px;
        min-height: 150px;
        flex-direction: column;
        justify-content: space-around;

        p {
          margin: 0;
        }
      }

      &__product {
        position: relative;
        margin: 10px 0;

        &__title {
          font-size: 18px;
          font-weight: 700;
        }

        &__size {
          font-weight: 600;
        }

        &__price {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-weight: 600;
        }
      }

      &__total-price {
        margin-top: 15px;
        font-weight: 700;
        font-size: 26px;
        width: 100%;
        text-align: right;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 55% 5% 40%;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }

    @media (max-width: 768px) {
      padding: 0 10px;
    }

    @media (max-width: 500px) {
      padding: 0 5px;
    }

    &__header {
      font-weight: 700;
      font-size: 1.2rem;
      margin: 15px 0;
    }

    &__callback {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      span {
        margin-left: 10px;
      }
    }

    &__form {
      padding: 20px;
      width: 100%;
      background: #fff;
      border-radius: 20px;

      &__header {
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 20px;
      }

      &__row {
        display: flex;
        flex-wrap: wrap;

        input,
        select {
          padding-left: 15px;
          font-size: 0.85rem;
          outline: none;
          width: calc(33% - 10px);
          background: #ffffff;
          border: 1px solid #b9b9b9;
          margin-right: 10px;
          border-radius: 11px;
          height: 30px;

          &::placeholder {
            opacity: 0;
          }
          &:focus::placeholder {
            opacity: 0.5;
          }

          @media (max-width: 768px) {
            width: 100%;
            height: 40px;
          }
        }

        select {
          appearance: none;
          background-image: url('../../img/arrowDown.svg');
          background-repeat: no-repeat;
          margin-bottom: 30px;
          background-position: 95% 50%;
          padding-left: 10px;

          @media (max-width: 768px) {
            margin-bottom: 20px;
          }
        }

        &__custom-input {
          outline: none;
          margin-right: 10px;
          width: calc(33% - 10px);
          position: relative;
          margin-bottom: 30px;

          @media (max-width: 768px) {
            margin-bottom: 25px;
            width: 100%;

            .smaller &:nth-child(n + 2) {
              width: calc(50% - 10px);
            }
          }

          input {
            width: 100%;
            font-size: 1rem;

            &:focus + label,
            &:not([value='']) + label {
              top: -40%;

              @media (max-width: 768px) {
                top: -30%;
              }
            }
          }

          input[disabled] + label {
            color: #999;
          }

          label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            transition: top 0.2s;
            font-size: 0.9rem;
            cursor: text;
          }
        }
      }

      &__comment {
        resize: none;
        width: calc(66% - 10px);
        border: 1px solid #b9b9b9;
        border-radius: 11px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0.8rem;
        padding: 5px 15px;
        outline: none;
        margin-bottom: 30px;

        @media (max-width: 768px) {
          width: calc(100% - 10px);
        }
      }

      &__btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;

        button {
          height: 100%;
          width: 110px;
          border: none;
          outline: none;
          background: #ce3238;
          border-radius: 10px;
          cursor: pointer;
          font-size: 0.8rem;
          font-weight: bold;

          color: #fff;
        }
      }
    }

    &__toggle {
      position: relative;
      display: flex;
      border: 1px solid #e5e5e5;
      border-radius: 20px;
      height: 45px;
      align-items: center;
      background: #fff;
      margin-bottom: 15px;

      @media (max-width: 768px) {
        height: 40px;
      }

      &__item {
        width: 50%;
        text-align: center;
        cursor: pointer;

        &.active {
          color: #fff;
          z-index: 5;
        }
      }

      &__lever {
        position: absolute;
        height: inherit;
        left: 0;
        background: #000;
        width: 50%;
        border-radius: inherit;
        transition: left 0.5s;
      }
    }

    &__info {
      background: #fff;
      border-radius: 28px;
      border: 1px solid #e5e5e5;
      padding: 20px;

      @media (max-width: 500px) {
        padding: 10px;
      }

      &__price {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        font-size: 1.3rem;
        font-weight: 700;
        margin-top: 30px;
      }

      &__item {
        display: flex;
        width: 100%;
        position: relative;
        margin-bottom: 20px;

        &__wrapper {
          width: 100%;
        }

        &__img {
          width: 110px;
          height: 110px;
          margin-right: 20px;
          flex-shrink: 0;
          border-radius: 10px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &__title {
          font-size: 1rem;
          font-weight: 500;
        }

        &__size {
          font-size: 0.8rem;
          font-weight: 600;
          margin-bottom: 10px;
        }

        &__description {
          font-size: 0.8rem;
          color: #666;
          margin-bottom: 10px;
        }

        &__price-count {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &__price {
          font-size: 1.2rem;
          font-weight: 700;
        }

        &__count {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #f8f8f8;
          height: 100%;
          width: 100px;
          border: 0.5px solid #e5e5e5;
          border-radius: 10px;
          border-radius: 10px;

          button {
            width: 40%;
            height: 100%;

            background: none;
            outline: none;
            border: 0.5px solid #e5e5e5;
            border-radius: 10px;

            cursor: pointer;

            &:hover {
              background: darken(#f8f8f8, 4);
            }
          }

          span {
            font-weight: 700;
            font-size: 1.3rem;

            &.minus {
              position: relative;
              top: -7px;
            }
          }
        }

        &__close-btn {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;

          img {
            width: 25px;
            height: 25px;
            border: 1px solid #e5e5e5;
            border-radius: 50px;
          }
        }
      }
      &__empty {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }

    &--left {
      grid-column: 1/2;

      @media (max-width: 900px) {
        grid-column: auto;
      }
    }

    &--right {
      grid-column: 3/4;

      @media (max-width: 900px) {
        grid-column: auto;
        grid-row: 1/ 2;
      }
    }
  }
}
