.promotions {
  @media (max-width: 768px) {
    padding: 0 20px;
  }

  &__header {
    display: none;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      display: flex;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      border: 1px solid #e5e5e5;
      background: #fff;
      border-radius: 20px;
      padding: 10px 0;
      margin-bottom: 20px;
    }

    &__img {
      height: 23vw;
      width: 30vw;
      min-width: 0;
      border-radius: 20px;
      flex-shrink: 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin-right: 50px;

      @media (max-width: 768px) {
        width: calc(100% - 20px);
        max-width: 100%;
        margin: 0;
        height: 65vw;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      flex-grow: 0;
      line-height: 25px;

      @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        padding: 0 10px;
      }

      h2 {
        margin: 0;
        padding: 0;

        @media (max-width: 768px) {
          padding: 10px;
        }
      }

      p {
        font-size: 16px;
        margin-top: 30px;
        width: 40vw;
        white-space: break-spaces;

        @media (max-width: 768px) {
          margin: 10px 0;
          padding: 0 10px;
          color: #666666;
          width: 100%;
        }

        &.cropped {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
      }

      button {
        width: 40%;
        height: 5vw;
        background: #ffffff;
        border: 2px solid #ce3238;
        color: #ce3238;
        box-sizing: border-box;
        border-radius: 15px;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.5s, color 0.5s;

        &:hover {
          background: #ce3238;
          color: #fff;
        }

        @media (max-width: 768px) {
          margin-top: 10px;
          height: 50px;
          align-self: center;
        }
      }
    }
  }
}
