@import '../Admin.scss';

.framework__add-item {
  padding: 0 20px;
  margin: 20px 0;
  height: 70px;
  max-width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;

  &__save-btn {
    height: 50px;
    @include myButton($green-color);
    margin-left: 20px;

    cursor: pointer;
  }

  &__input {
    width: 85%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 3px solid $blue-color;
    margin-left: 10px;
    margin-bottom: 5px;
  }
}

.framework__rename {
  padding: 20px;
  width: 100%;

  margin: 0 auto;
  margin-bottom: 20px;
  height: 70px;
  max-width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;

  &__confirm-delete {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;

    button {
      height: 70%;
      margin-left: 15px;
      cursor: pointer;
    }

    .confirm {
      @include myButton($red-color);
    }

    .cancel {
      @include myButton($blue-color);
    }
  }

  &__title-input {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 3px solid $blue-color;
  }

  &__position-input {
    height: 80%;
    width: 10%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 3px solid $blue-color;
    margin-right: 15px;
    padding-left: 30px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }

  &__edit-btn {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  &__trash-btn {
    margin-left: auto;
    cursor: pointer;
  }

  &__save-btn {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  &__add-new {
    width: 150px;
    cursor: pointer;
  }
}
