@import '../Admin.scss';

.promo-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  &__item {
    border-radius: 10px;
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
  }

  &__header {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__img {
    max-width: 100%;
    background: #fff;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    &.standart {
      width: 40vw;
      height: 30vw;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.carousel {
      max-width: 100%;
      width: 100vw;
      height: 25vw;
      min-width: 0;
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 15px;
    display: flex;

    label {
      display: flex;
      flex-direction: column;
    }

    .title {
      width: 85%;
    }

    .position {
      width: 15%;
    }

    input {
      width: 100%;
      border-radius: 10px;
      margin-top: 5px;
      outline: none;
      padding: 10px;
      font-size: 18px;
      font-weight: 600;
      border: 1px solid #bbbbbb;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }
  }

  &__description {
    width: 100%;
    margin-bottom: 15px;

    textarea {
      width: 100%;
      height: 150px;
      resize: none;
      font-family: inherit;

      border-radius: 10px;
      margin-top: 5px;
      outline: none;
      padding: 10px;
      font-size: 18px;
      font-weight: 600;
      border: 1px solid #bbbbbb;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }
  }

  &__description,
  &__title {
    label {
      padding-left: 5px;
      font-weight: 700;
      font-size: 16px;
    }
  }

  &__check {
    margin-bottom: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;

    input[type='checkbox'] {
      transform: scale(1.8);
      margin-right: 10px;
      position: relative;
      top: -2px;
    }
  }

  &__action-btns {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 20px;

    button {
      height: 50px;
      width: 150px;
      margin: 0 10px;
    }
  }

  &__save-btn {
    @include myButton($green-color);
  }

  &__remove-btn {
    @include myButton($red-color);
  }

  &__cancel-btn {
    @include myButton($blue-color);
  }

  &__grid {
    display: grid;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      min-width: 0;
    }
  }

  &__btn {
    height: 50px;
    margin-top: 20px;

    label {
      @include myButton($blue-color);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    }

    input[type='file'] {
      display: none;
    }
  }

  &__add-btn {
    margin: 10px auto;
    background: #fff;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    img {
      max-width: 100%;
    }
  }
}
