.burger {
  display: none;
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 70px;
  bottom: 0;
  right: -100%;
  background: #f9f9f9;

  z-index: 20;
  transition: right 0.4s;

  &.active {
    right: 0;
  }

  @media (max-width: 768px) {
    display: block;
  }

  &__content {
    padding-top: 20px;
    width: auto;
    display: grid;
    grid-template-columns: 50vw 50vw;

    &__item {
      width: 80%;
      height: 22vw;
      border: 1px solid #e5e5e5;
      background: #fff;
      border-radius: 16px;
      margin: 0 auto;
      margin-bottom: 30px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: background 0.5s;
      cursor: pointer;

      &:hover {
        background: #e9e9e946;
      }

      img {
        height: 7vw;
        margin-bottom: 5px;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
