@import '../Admin.scss';

.archive {
  min-height: 100vh;

  &__card {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 2px solid $blue-color;
    padding: 10px 10px 3px;
  }

  &__more-btn {
    height: 50px;
    margin-top: 20px;
    width: 100%;
    display: grid;
    place-items: center;

    button {
      @include myButton($blue-color);

      width: 100px;
      height: 100%;
      font-size: 22px;
    }
  }

  &__total-price {
    margin-left: auto;
    padding-right: 5px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__search {
    width: 100%;
    background: #fff;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 15px;

    input {
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 2px solid $blue-color;
      font-size: 18px;
      font-weight: 600;
      height: 60%;
    }

    img {
      width: 30px;
      height: 30px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__part {
      display: flex;
      flex-direction: column;

      &:first-child {
        border-right: 2px solid $blue-color;
      }

      span {
        margin: 5px 10px;
      }
    }
  }

  &__product {
    padding: 5px 10px;
    position: relative;

    &__title {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 5px;
    }

    &__additions {
      font-size: 12px;
      span {
        margin: 0;
        font-weight: 600;
      }
    }

    &__price {
      font-weight: 600;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__btns {
    margin-top: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

    button {
      width: 140px;
      height: 35px;
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__cancel {
      @include myButton($red-color);
    }

    &__complete {
      @include myButton($green-color);
    }

    &__accept {
      @include myButton(adjust-hue($red-color, 180deg));
    }

    &__confirm {
      button {
        width: 90px;
        margin-right: 20px;
      }

      &__yes {
        @include myButton($red-color);
      }

      &__no {
        @include myButton($blue-color);
      }
    }
  }
}
