$red-color: #ce3238;

.dropdown {
  position: absolute;
  top: 109%;
  right: 0;
  width: 400px;
  background: #fff;
  box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.25),
    3px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  z-index: 10;
  max-height: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: max-height 0.5s ease-in-out;

  &.open {
    max-height: 500px;
  }

  &__content {
    padding: 5px 20px 20px;

    &__item {
      display: flex;
      margin-top: 18px;
      position: relative;

      &__img {
        min-width: 85px;
        height: 85px;
        margin-right: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        align-self: center;
        border-radius: 10px;
      }

      &__close-btn {
        width: 20px;
        height: 20px;
        cursor: pointer;

        img {
          width: 20px;
          height: 20px;
          border: 1px solid #e5e5e5;
          border-radius: 50px;
        }
      }

      &__text {
        width: 70%;
        &__title {
          font-weight: 500;
          font-size: 1.2rem;
          margin-bottom: 3px;
        }

        &__size {
          font-size: 0.8rem;
          font-weight: 600;
          margin-bottom: 8px;
        }
      }
    }

    &__bottom {
      margin-top: 20px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__price {
        font-weight: 700;
        font-size: 1.4rem;
      }

      &__buttons {
        height: 100%;
        background: #f8f8f8;
        border-radius: 10px;
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0.5px solid #e5e5e5;

        span {
          font-weight: bold;
          font-size: 1.1rem;

          &.minus {
            position: relative;
            top: -7px;
          }
        }

        button {
          width: 40%;
          height: 100%;
          background: none;
          outline: none;
          border: 0.5px solid #e5e5e5;
          border-radius: 10px;

          cursor: pointer;

          &:hover {
            background: #e6e5e5;
          }
        }
      }
    }
  }

  &__order-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    height: 45px;
    position: sticky;
    bottom: 20px;

    button {
      height: 100%;
      width: 35%;
      background: $red-color;
      color: #fff;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        background: darken($color: $red-color, $amount: 8);
      }
    }
  }
}
