.contacts {
  padding: 0 60px;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }

  margin-top: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__map {
    width: 100%;
    min-height: 320px;
    margin-bottom: 20px;
    max-height: 40vw;
  }

  &__content {
    display: grid;
    grid-template-columns: 60% 5% 35%;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      padding: 0 20px;
    }
  }

  &__list {
    grid-column: 3/4;

    @media (max-width: 768px) {
      grid-column: initial;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      margin-bottom: 40px;

      img {
        height: 30px;
        margin-right: 8px;
      }

      div {
        margin-bottom: 20px;
      }
    }

    &__subfield {
      display: flex;
      align-items: center;

      a {
        color: inherit;
        text-decoration: none;
      }

      img.contacts__list__subfield__social {
        margin-right: 30px;
      }

      span {
        font-size: 16px;
      }
    }

    &__header {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}
