@import 'react-alice-carousel/lib/scss/alice-carousel.scss';

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.alice-carousel {
  margin-top: 10px;
  width: 100vw;
  max-width: 100%;
  height: 28vw;
  min-width: 0;
  position: relative;
  margin-bottom: 30px;
  padding: 0 60px;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }

  @media (max-width: 400px) {
    padding: 0 5px;
  }

  & > div {
    height: inherit;
  }

  &__wrapper {
    height: inherit;
    border-radius: 20px;
  }

  &__stage {
    display: flex;
    max-height: 100%;

    &-item {
      display: flex;
      align-items: stretch;
      flex-shrink: 0;
      width: 100%;
      height: auto;
      min-width: 0;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }

  &__dots {
    margin-top: 10px;

    &-item:not(.__custom) {
      width: 12px;
      height: 12px;
      background-color: #c4c4c4;

      &:hover {
        background-color: #7e7e7e;
      }

      &.__active {
        background-color: #222222;
      }
    }
  }
}
