@import '../Admin.scss';

.admin__additions {
  &__add {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 20px;

    &__btn {
      height: 70px;
      width: 70px;
      background: #fff;
      border-radius: 10px;
      display: grid;
      place-items: center;
      cursor: pointer;

      img {
        max-width: 75%;
      }
    }
  }

  &__file {
    width: 100%;
    height: 100%;
    cursor: pointer;
    place-items: center;
    display: none;

    img {
      width: 55%;
      height: 55%;
    }

    input[type='file'] {
      display: none;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 150px 3fr 3fr 3fr 2fr;
    place-items: center start;
    margin-bottom: 20px;

    &__header {
      font-size: 18px;
      font-weight: 600;
    }

    &__item {
      font-size: 22px;
      font-weight: 600;
    }

    &__img {
      grid-row: 1 / 3;
      height: 120px;
      width: 120px;
      display: grid;
      place-items: center;
      border-radius: 10px;
      background: #fff;

      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      &.editable {
        &:hover {
          filter: brightness(0.9);
        }

        &:hover > label {
          display: grid;
          filter: brightness(1.1);
        }
      }
    }

    &__input {
      position: relative;
      right: 10px;
      width: 80%;
      height: 32px;
      background: #fff;
      border-radius: 10px;
      padding-left: 10px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 600;
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield;
    }

    &__actions {
      grid-row: 1 / 3;
      grid-column: -2 / -1;
      display: flex;
      width: 100%;
      justify-content: space-around;

      img {
        cursor: pointer;
      }

      button {
        width: 60px;
        height: 40px;
      }

      .confirm {
        @include myButton($red-color);
        margin-right: 5px;
        font-size: 20px;
      }

      .cancel {
        @include myButton($blue-color);
        font-size: 20px;
      }

      .icon {
        display: grid;
        place-items: center;
        background: #fff;
        width: 50px;
        height: 50px;
        border-radius: 10px;

        &.disabled {
          background: #c2c2c2;
          img {
            filter: brightness(0.5);
          }
        }
      }
    }
  }
}
