.admin-burger {
  background-color: #fff;
  border-left: 1px solid #e5e5e5;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  width: 200px;
  position: fixed;
  top: 50px;
  left: -200px;
  overflow: auto;
  height: 100%;
  z-index: 10;
  transition: left 0.5s;

  &.open {
    left: 0;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    a {
      padding-left: 20px;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
      color: #000;

      img {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }

      &:hover {
        background: #ccc;
      }

      // &.active {
      //   background: #2594fc;
      // }
    }
  }
}
