@import '../Admin.scss';

.customers {
  &__item {
    background: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  }

  &__field {
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 200px;
    flex-grow: 1;
    margin-left: 20px;
    flex-shrink: 0;
    justify-content: space-around;

    &__label {
      font-weight: 600;
      padding-left: 5px;
    }

    &__data {
      padding-left: 5px;
      padding-bottom: 5px;
      border-bottom: 3px solid $blue-color;
    }
  }
}
