.delivery-page {
  padding: 5px;

  &__header {
    font-size: 32px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 50% 50%;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    display: grid;
    width: 40vw;

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 20px;
      padding: 0 100px;
      font-size: 16px;
    }

    @media (max-width: 500px) {
      margin-top: 20px;
      padding: 0 20px;
      font-size: 16px;
    }
  }

  &__img {
    display: grid;
    place-items: center center;

    .image {
      width: 35vw;
      height: 35vw;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 768px) {
        width: 60vw;
        height: 60vw;
      }
    }
  }
}
