$red-color: #c42727;

.first-navbar {
  width: 100%;
  height: 70px;
  background: #fff;

  @media (max-width: 768px) {
    display: none;
  }

  &__wrapper {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0 60px;

    @media (max-width: 1200px) {
      padding: 0 20px;
    }
  }

  &__logo {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 768px) {
      width: auto;
    }

    @media (max-width: 800px) {
      width: 110px;
    }

    img {
      height: 100%;
    }

    cursor: pointer;
  }

  &__phone {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;

    a {
      color: inherit;
      text-decoration: none;
    }

    img {
      margin-right: 5px;
    }
  }

  &__time {
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }

    p {
      width: 90px;
      text-align: center;
      font-size: 0.9rem;
      line-height: 12px;
      font-weight: bold;
    }

    @media (max-width: 800px) {
      img {
        margin-right: 0px;
      }

      p {
        width: 80px;
      }
    }
  }

  &__location {
    display: flex;

    img {
      margin-right: 10px;
    }
  }

  &__language {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100px;
    height: 20px;

    z-index: 4;

    &__cover {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      p {
        margin: 0;
        padding: 0;
        margin-right: 5px;
      }

      img {
        transition: transform 0.5s ease;
        width: 15px;
        height: auto;

        &.rotated {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.second-navbar {
  width: 100%;
  height: 70px;
  background: #222222;
  z-index: 6;

  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;

    & + .empty-space {
      margin-bottom: 70px;

      @media (max-width: 768px) {
        margin-bottom: 80px;
      }
    }
  }

  &__hidden-logo {
    display: none;
    cursor: pointer;

    img {
      width: 60px;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__wrapper {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    height: 100%;
    padding-right: 60px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
      padding-right: 20px;
    }

    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }

  &__item {
    height: 100%;
    width: 220px;
    min-width: 80px;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    outline: none;

    text-decoration: none;

    @media (max-width: 768px) {
      display: none;
    }

    img {
      height: 30px;
      max-width: 40px;
      margin-bottom: 5px;
    }

    p {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      color: #fff;
    }

    &.percent {
      img {
        position: relative;
        top: 4px;
        height: 32px;
        margin-bottom: 5px;
      }
    }

    &.truck {
      img {
        margin-top: 5px;
        position: relative;
        top: 2px;
        width: 45px;
        max-width: 45px;
      }
    }

    &.active {
      background: #c42727;
      p {
        color: #fff;
      }

      img {
        -webkit-filter: brightness(0) saturate(100%) invert(99%) sepia(100%)
          saturate(2%) hue-rotate(79deg) brightness(104%) contrast(101%);
        filter: brightness(0) saturate(100%) invert(99%) sepia(100%)
          saturate(2%) hue-rotate(79deg) brightness(104%) contrast(101%);
      }
    }
  }

  &__burger {
    width: 45px;
    height: 25px;
    position: relative;

    display: none;

    @media (max-width: 768px) {
      display: block;
    }

    @media (max-width: 400px) {
      height: 20px;
      width: 35px;
    }

    span {
      width: 100%;
      height: 3px;
      background: #fff;
      position: absolute;
      top: 50%;
      border-radius: 10px;
      transition: transform 0.2s, top 0.2s;

      &:first-child {
        top: 0;
      }

      &:last-child {
        top: 100%;
      }
    }

    &.active {
      span {
        top: 50%;

        &:first-child {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__phone {
    color: #fff;
    display: none;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    margin-right: auto;
    margin-left: 40px;

    @media (max-width: 400px) {
      margin-left: 20px;
      font-size: 15px;
    }

    img {
      height: 32px;
      margin-right: 5px;
    }

    p {
      margin: 0;
      padding: 0;
      min-width: 150px;
    }

    &.shown {
      display: flex;
    }
  }

  &__cart {
    width: 180px;
    height: 50px;
    border: 2px solid $red-color;
    background: #fff;
    margin-left: 90px;
    border-radius: 50px;
    position: relative;
    flex-shrink: 0;

    @media (max-width: 768px) {
      margin-right: auto;
      margin-left: 40px;
      height: 40px;
    }

    @media (max-width: 400px) {
      width: 120px;
      margin-left: 20px;
    }

    &.hidden {
      display: none;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      p {
        flex-grow: 1;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        align-self: center;
        margin: 0;
      }

      &__wrapper {
        background: $red-color;
        transform: scale(1.08);
        width: 45px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;

        @media (max-width: 768px) {
          width: 40px;
        }

        p {
          margin: 0;
          padding: 0;
          color: #fff;
          font-size: 1.3rem;
          flex-grow: 0;
        }

        img {
          width: 20px;
        }
      }
    }
  }
}
