@keyframes appearance {
  0% {
    top: -200px;
  }
}

$red-color: #dd3333;

.global-error {
  position: fixed;
  z-index: 11;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);

  width: 500px;
  min-height: 70px;

  overflow: hidden;

  background: #fff;
  border-radius: 10px;

  display: none;
  align-items: center;
  padding-left: 30px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  animation: appearance 0.5s ease-in-out;

  @media (max-width: 500px) {
    width: 90vw;
    min-height: 90px;
  }

  &.shown {
    display: flex;
    animation: appearance 0.5s ease-in-out;
  }

  &__red-line {
    position: absolute;
    left: 0;
    height: 100%;
    width: 10px;
    background: $red-color;
  }

  &__red-cross {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  &__header {
    font-weight: 600;
    font-size: 15px;
  }

  &__text {
    color: #6d6d6d;
    font-size: 13px;
  }

  &__close-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    border-left: 1px solid #e5e5e5;
    align-self: stretch;
    padding-left: 20px;

    cursor: pointer;

    @media (max-width: 400px) {
      margin-right: 10px;
      padding-left: 10px;
    }
  }
}
