@import '../Admin.scss';

.edit-modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  max-height: 700px;
  overflow: scroll;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);

  &.open {
    display: block;
  }

  &__content {
    padding: 15px 30px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 345px;
    height: 250px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__error {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 10px;
    color: #fff;
    background: lighten($color: $red-color, $amount: 30);
  }

  &__weight {
    select {
      margin-left: 10px;
      font-size: 16px;

      option {
        font-size: 16px;
      }
    }
  }

  &__close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
    cursor: pointer;

    span {
      position: absolute;
      height: 5px;
      width: 20px;
      top: 45%;
      left: 20%;
      border-radius: 5px;
      background: #000;

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__file {
    @include myButton($blue-color);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 10px auto;
    height: 40px;

    input[type='file'] {
      display: none;
    }
  }

  &__input-title {
    width: 800px;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    input {
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 2px solid $blue-color;
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  &__checkbox {
    font-weight: 500;
    margin: 10px 0;
    display: flex;
    align-items: center;

    input {
      transform: scale(1.5);
      margin-right: 10px;
    }
  }

  &__textarea {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    resize: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  &__header {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
  }

  &__add-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      margin-top: 10px;
      border-radius: 10px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }

    img {
      width: 35px;
      height: 35px;
    }
  }

  &__sizes-grid {
    display: grid;
    grid-template-columns: 30% 20% 20% 20% 10%;

    &__header {
      font-weight: 500;

      &:last-child {
        grid-column: 4 / -1;
      }
    }

    &__size {
      width: 100%;
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: 30% 20% 20% 20% 10%;

      input {
        margin-top: 10px;
        width: 90%;
        height: 35px;
        border: none;
        outline: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        padding: 0 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      }

      &__img {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        width: 35px;
        height: 35px;
        margin: 0 auto;
        margin-top: auto;
        border-radius: 5px;
        cursor: pointer;

        img {
          height: 25px;
          width: 25px;
        }
      }
    }
  }

  &__bottom-btns {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;

    &__remove {
      @include myButton($red-color);

      height: 70%;
      width: 180px;
    }

    &__save {
      @include myButton($green-color);

      height: 70%;
      width: 180px;
    }

    &__confirm {
      width: 210px;
      height: 100%;
      display: flex;
      align-items: center;

      button {
        flex-grow: 1;
        &:first-child {
          @include myButton($red-color);
          height: 70%;
          margin-right: 10px;
        }

        &:last-child {
          @include myButton($blue-color);
          height: 70%;
        }
      }
    }
  }
}
