@import '../Admin.scss';

.admin-category {
  width: 100%;

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1300px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
