@import '../Admin.scss';

.text-section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 1rem;
    padding-left: 5px;
    font-weight: bold;
    color: darken($blue-color, 20);
    min-width: minmax(20%, 300px);

    &.img-download {
      display: block;
      text-align: center;

      p {
        @include myButton($blue-color);
        width: 140px;
        height: 40px;
        margin-top: 0;
        margin-bottom: 20px;
        display: inline-block;
        line-height: 40px;
      }
    }

    input[type='file'] {
      display: none;
    }
  }

  &__input {
    display: block;
    margin: 5px 0 20px;
    height: 40px;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__time {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }

  &__delivery-img {
    width: 50vw;
    height: 50vw;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 10px auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__btn {
    width: 100%;
    display: flex;
    margin-bottom: 70px;

    button {
      margin: 0 auto;
      height: 50px;

      @include myButton($green-color);
    }
  }
}

.tox.tox-tinymce {
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
