.product-view {
  padding: 10px 20px;

  @media (max-width: 500px) {
    padding: 10px 5px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: flex-start center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__img {
    width: 40vw;
    height: 40vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 20px;

    @media (max-width: 768px) {
      width: 60vw;
      height: 60vw;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  &__title {
    grid-column: 1/-1;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    text-align: left;
  }

  &__addition-category {
    width: 100%;
    grid-column: 1/-1;
  }

  &__description {
    grid-column: 1/-1;
    font-size: 16px;
    margin: 10px 0 20px;
    color: #5f5f5f;
  }

  &__price {
    font-size: 26px;
    font-weight: 600;
    width: 100%;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__header {
    grid-column: 1/-1;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    margin-top: 70px;
  }

  &__back-btn {
    font-size: 20px;

    span {
      cursor: pointer;
    }

    img {
      width: 15px;
      height: 12px;
      transform: rotate(90deg);
    }
  }

  &__addition-item {
    display: grid;
    width: 100%;
    margin-bottom: 20px;
    grid-template-columns: minmax(100px, 25%) repeat(3, 1fr) 90px;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      grid-template-columns: repeat(4, 1fr) 75px;
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(4, 1fr) 65px;
    }

    &__img {
      width: 90px;
      height: 90px;
      background-color: #fff;
      border-radius: 10px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 500px) {
        width: 60px;
        height: 60px;
        margin-right: 5px;
      }
    }

    &__field {
      font-size: 16px;

      @media (max-width: 500px) {
        font-size: 12px;
      }
    }

    &__btns {
      height: 40px;
      display: flex;
      align-items: center;
      color: #fff;
      background: #ce3238;
      border-radius: 10px;

      @media (max-width: 768px) {
        background: none;
        color: #000;
        height: 35px;
      }

      &__btn {
        outline: 0;
        border: none;
        background: #ce3238;
        color: #fff;
        font-weight: 600;
        font-size: 28px;
        cursor: pointer;
        width: 100%;
        flex-grow: 1;
        height: 100%;
        border-radius: 10px;
        border: 1px solid #ac1e23;

        &:hover {
          background: darken($color: #ce3238, $amount: 4);
        }

        &:first-child {
          span {
            line-height: 5px;
          }
        }

        span {
          padding-top: 5px;
          text-align: center;
          line-height: 1em;
          display: block;
          width: 100%;
          user-select: none;

          @media (max-width: 768px) {
            padding-top: 1px;
          }
        }
      }

      &__text {
        width: 20px;
        flex-shrink: 0;
        text-align: center;
        font-weight: 600;

        @media (max-width: 768px) {
          width: 15px;
          font-size: 18px;
        }

        @media (max-width: 500px) {
          width: 15px;
          font-size: 16px;
        }
      }
    }
  }

  &__chooser {
    grid-column: 1/-1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    margin: 10px 0;

    &__size {
      text-align: center;
      font-size: 16px;
      z-index: 5;
      cursor: pointer;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      &.active {
        color: #fff;
      }
    }

    &__lever {
      width: 50%;
      height: inherit;
      position: absolute;
      background: #000;
      border-radius: 10px;
      left: 0;

      transition: left 0.5s ease;
    }
  }

  &__cart-btns {
    width: 180px;
    margin-left: 40px;

    @media (max-width: 500px) {
      margin-left: 20px;
    }

    button {
      height: 50px;
      border-radius: 10px;
      outline: 0;
      border: none;
      background: #ce3238;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
      width: 100%;

      &:hover {
        background: darken($color: #ce3238, $amount: 8);
      }
    }

    &__actions {
      display: flex;
      color: #fff;
      background: #ce3238;
      border-radius: 10px;
      align-items: center;

      font-size: 16px;
      font-weight: 600;

      span {
        flex-shrink: 0;
        width: 50px;
        text-align: center;
      }

      button {
        flex-grow: 1;
        border: 1px solid #ac1e23;
      }
    }
  }
}

.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 11;
  display: grid;
  place-items: center center;

  &__content {
    width: 450px;
    min-height: 200px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;

    @media (max-width: 500px) {
      width: 95vw;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;

    @media (max-width: 500px) {
      font-size: 24px;
    }
  }

  &__bottom {
    display: flex;
    padding-top: 10px;
    margin-top: 5px;
    border-top: 3px solid #e5e5e5;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__price {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  &__cart-btn {
    width: 165px;
    height: 61px;
    cursor: pointer;
    background: #ce3238;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;

    &:hover {
      background: darken(#ce3238, 4);
    }

    @media (max-width: 500px) {
      width: 120px;
      font-size: 16px;
      height: 45px;
    }
  }

  &__ingredients {
    display: grid;
    grid-template-columns: max-content 1fr;

    &__column {
      display: flex;
      flex-direction: column;

      span {
        font-size: 18px;
        margin-bottom: 8px;
        margin-right: 30px;
      }
    }
  }

  &__actions-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background: #f8f8f8;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    .count {
      font-weight: 600;
      font-size: 18px;
    }

    button {
      height: 100%;
      width: 40%;
      background: none;
      outline: none;
      border: none;
      border-radius: 10px;
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      cursor: pointer;

      &:hover {
        background: #f1f0f0;
      }

      span {
        font-weight: 700;
        font-size: 22px;
        user-select: none;
        line-height: 1em;
      }

      .minus {
        position: relative;
        top: -8px;
      }
    }
  }

  &__close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    width: 32px;
    height: 32px;

    img {
      width: 100%;
      height: 100%;
      border: 1px solid #cfcfcf;
      border-radius: 50px;
    }
  }
}
