$border-color: #e5e5e5;
$bg-color: #f8f8f8;

.menu {
  min-height: 20vh;
  padding: 0 60px;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    padding: 0;
  }

  &__empty-space {
    margin-bottom: 155px;
  }

  &__background {
    background: #f0f0f0;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 90px;
    transition: box-shadow 0.2s ease;

    &.scrolled {
      position: fixed;
      top: 70px;
      z-index: 5;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      box-shadow: 0px 11px 14px -7px rgba(34, 60, 80, 0.32);
    }
  }

  &__arrow-chooser {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;

    &.scrolled {
      position: fixed;
      top: 70px;
      z-index: 100;
      left: 50%;
      transform: translateX(-50%);
    }

    &__content {
      padding-left: 10px;
      width: 66vw; //495
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      height: 60px;
      display: flex;
      align-items: center;
      overflow: scroll;
      scroll-behavior: smooth;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      min-width: calc(13vw - 9px); //155
      border: 1px solid #e5e5e5;
      background: #fff;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        background: #f7f7f7;
        border-color: #1a1a1a2a;
      }

      &.active {
        background: #000;
        color: #fff;
      }
    }

    &__empty {
      min-width: 1px;
      height: 100%;
      visibility: hidden;
    }

    &__arrow {
      align-self: stretch;
      max-height: 100%;
      width: 60px;
      display: grid;
      place-items: center;
      border-radius: 50px;
      cursor: pointer;
      user-select: none;

      &:hover {
        background: #c0c0c03b;
      }

      &.disabled {
        opacity: 0.2;
        pointer-events: none;
      }

      &.left {
        margin-right: 10px;
        img {
          position: relative;
          left: -2px;
          height: 24%;
          transform: rotate(90deg);
        }
      }

      &.right {
        margin-left: 10px;

        img {
          height: 24%;
          transform: rotate(-90deg);
        }
      }
    }
  }

  &__chooser {
    height: 50px;
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid $border-color;
    border-radius: 20px;
    background: $bg-color;
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 5px;
    align-items: center;
    flex-wrap: nowrap;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 768px) {
      border: none;
      background: none;
      border-radius: 0;
      scrollbar-width: none;
      padding-left: 20px;
      overflow: scroll;
      max-width: 100%;
    }

    @media (max-width: 400px) {
      padding-left: 5px;
    }

    &__empty-space {
      margin-bottom: 120px;
    }

    &__blank-space {
      min-width: 10px;
      height: 100%;
      visibility: hidden;

      @media (max-width: 400px) {
        min-width: 1px;
      }
    }

    &__item {
      flex-grow: 1;
      text-align: center;
      z-index: 3;
      text-decoration: none;

      cursor: pointer;
      &.active {
        color: #fff;
      }

      @media (max-width: 768px) {
        border: 1px solid #e5e5e5;
        background: #fff;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-right: 10px;

        &:last-of-type {
          background: #000;
        }

        &.active {
          background: #000;
        }
      }
    }

    &__lever {
      position: absolute;
      height: inherit;
      width: 33%;
      left: 0%;
      background: #000000;
      border-radius: 20px;
      z-index: 2;

      transition: left 0.5s ease;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
