.product-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 310px);
  grid-gap: 0 28px;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 8px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
