@import '../Admin.scss';

.login-page {
  width: 100%;
  height: 500px;
  display: grid;
  place-items: center;

  p {
    font-weight: 600;
    margin: 0;
    padding-left: 10px;
  }

  input {
    border: none;
    outline: none;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__btn {
    margin-top: 10px;
    width: 100%;
    display: grid;
    place-items: center;

    button {
      @include myButton($blue-color);
      width: 120px;
      height: 35px;
    }
  }
}
