.not-found {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 30px 100px;

  @media (max-width: 1200px) {
    padding: 30px 20px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &__img {
    display: grid;
    place-items: center center;

    img {
      width: 35vw;
      height: auto;

      @media (max-width: 768px) {
        width: 60vw;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0;
      font-size: 38px;

      &:first-child {
        font-weight: bold;
      }
    }

    @media (max-width: 768px) {
      p {
        font-size: 30px;
      }
    }
  }
}
