$red-color: #ce3238;

@keyframes appearance {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 310px;
  min-width: 310px;
  padding: 12px 12px 0;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  transition: box-shadow 0.2s ease;
  background: #ffffff;
  margin-bottom: 30px;
  animation: appearance 0.5s ease-in-out;

  @media (max-width: 1400px) {
    margin: 0 auto 30px;
    min-width: 300px;
    width: 80%;
  }

  @media (max-width: 400px) {
    min-width: 290px;
  }

  &:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }

  &:hover > &__image {
    transform: scale(1.01);
  }

  &__image {
    width: 290px;
    height: 200px;
    max-width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;

    transition: transform 0.2s ease;

    @media (max-width: 768px) {
      width: 80vw;
      height: 65vw;
      max-width: 100%;
    }
  }

  &__weight {
    display: flex;
    justify-content: flex-end;

    font-size: 0.8rem;
    color: #666666;
  }

  &__left-weight {
    margin-right: auto;
  }

  &__title {
    font-weight: bold;
    font-size: 1.3rem;

    cursor: pointer;
  }

  &__description {
    font-size: 0.9rem;
    margin: 9px 0 10px;
    font-size: 14px;
    color: #666666;
    overflow: hidden;
    margin-bottom: auto;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  &__height-fix {
    margin-top: 10px;
  }

  &__size-choose {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 30px;
    border: 0.5px solid #000;
    border-radius: 10px;

    @media (max-width: 768px) {
      height: 40px;
      border-radius: 10px;
    }

    &__item {
      height: 100%;
      display: flex;
      font-size: 12px;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      &.active {
        p {
          color: #fff;
          z-index: 2;
          transition: color 0.3s linear;
        }
      }
    }
  }

  &__size-toggle {
    position: absolute;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #000;
    background: #000;
    transform: scale(1.05);

    transition: left 0.5s ease;
  }

  &__go-menu {
    margin: 0 auto;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 400px;

    cursor: pointer;

    &__header {
      font-size: 28px;
      font-weight: 600;
    }
  }

  &__bottom {
    justify-self: flex-end;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__price {
      font-size: 1.4rem;
      font-weight: bold;

      span {
        font-size: 0.8rem;
      }
    }

    button {
      color: #fff;
      background: $red-color;
      outline: none;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: bold;
      transition: background 0.3s ease;

      &:hover {
        background: darken($color: $red-color, $amount: 8);
      }

      span {
        font-weight: 700;
        font-size: 18px;

        &.minus {
          position: relative;
          top: -7px;
        }
      }
    }

    &__add-btn {
      flex-basis: 40%;
      height: 60%;
    }

    &__cart-btns {
      flex-basis: 40%;
      background: $red-color;
      height: 60%;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;

      span {
        position: relative;
        left: 0px;
      }

      button {
        height: 100%;
        width: 40%;
        border: 1px solid #ac1e23;
      }
    }
  }
}
