*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  @media (max-width: 900px) {
    font-size: 13px;
  }
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body,
#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f0f0;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  min-height: 50vh;
  max-width: 1440px;

  @media (max-width: 1200px) {
    padding: 0;
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}

.loader {
  z-index: 100;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  // background: #fff;

  &.shown {
    display: flex;
  }

  .myLoader {
    position: relative;
    top: -50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 320px;
    }

    .mustach {
      position: absolute;
      left: 50%;
      top: 69%;
      transform: translateX(-50%) translateY(-50%);

      img {
        animation-name: rotateLoader;
        animation-duration: 1s;
        animation-timing-function: ease;
        transform-origin: center center;
        animation-iteration-count: infinite;
      }
    }
  }
}

@keyframes scaleLoader {
  50% {
    transform: scale(1.2);
  }
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
