.about {
  padding: 0 60px;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    display: none;
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 30px;
  }

  &__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__img {
      height: 15vw;
      width: 100%;
      border-radius: 10px;
      flex-shrink: 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      margin-right: 50px;
    }

    &__text {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 1.2rem;
      flex-grow: 0;
    }
  }
}
