$bg-color: #222222;

.footer {
  margin-top: 15px;
  width: 100vw;
  background: $bg-color;

  section {
    &.mobile {
      display: none;
    }

    @media (max-width: 768px) {
      &.mobile {
        display: block;
      }
      &.desktop {
        display: none;
      }
    }
  }

  &__wrapper {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    min-height: 220px;

    padding: 0 60px;

    @media (max-width: 900px) {
      padding: 0 20px;
    }

    @media (max-width: 768px) {
      padding: 0;
      flex-direction: column;
    }
  }

  &__promo-text {
    color: #fff;
    background: #ce3238;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 600px) {
      font-size: 12px;
      padding: 0 5px;
    }
  }

  &__item {
    width: fit-content;
    height: 100%;
    flex-grow: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 40px 0;
    font-size: 1.2rem;
    color: #fff;

    &.__second {
      justify-content: flex-start;

      .__list-header {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #fff;
      }

      ul {
        margin-top: 0;
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 10px;
          color: #8d8d8d;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &.__third {
      justify-content: flex-start;
    }

    &.__fourth {
      align-items: flex-start;
      justify-content: flex-start;
    }

    &.__bigger {
      font-size: 24px;
      padding: 10px;

      .__list-header {
        font-size: 28px;
      }

      ul {
        margin: 0;
        margin-bottom: 10px;
        list-style: none;
        padding: 0;
      }

      li {
        font-size: 24px;
      }
    }

    &__logo {
      height: auto;
      width: 150px;
      cursor: pointer;
    }

    &__links {
      margin-top: 40px;
      display: flex;
      justify-content: space-around;
      width: 150px;

      @media (max-width: 900px) {
        img {
          width: 24px;
        }
      }
    }

    &__header {
      font-size: 1.3rem;
      font-weight: bold;
    }

    &__payments {
      margin-top: 25px;
      display: flex;
      align-items: center;
      img {
        width: 50px;
        margin-right: 20px;
      }
    }

    &__contacts {
      margin-top: 14px;
      font-size: 14px;
      color: #8d8d8d;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &__section {
    width: 100%;
    margin: 20px auto;
    padding: 0 30px;
    p {
      padding: 0;
      margin: 0;

      color: #999999;
      font-size: 18px;
      font-weight: 500;
    }

    &__icons {
      margin-top: 10px;
      display: flex;
      align-items: baseline;

      img {
        height: 35px;
        margin-right: 60px;
      }

      &.payments {
        align-items: center;
        img {
          height: 30px;

          &:first-child {
            height: 20px;
            margin-right: 40px;
          }
        }
      }
    }
  }

  &__accordion {
    width: 100%;

    &__panel {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      width: 100%;
    }

    &__btn {
      display: flex;
      align-items: center;

      padding: 30px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 28px;
      font-weight: 600;
      background: none;
      color: #999999;
      border-bottom: 3px solid #444;
      cursor: pointer;

      &.__border-top {
        border-top: 3px solid #444;
        margin-top: -3px;
      }

      img {
        margin-left: auto;
        width: 20px;
      }

      &:hover {
        background-color: #383838;
      }

      &.active {
        img {
          transform: rotate(180deg);
        }

        & + .footer__accordion__panel {
          max-height: 100%;
          transition: max-height 0.5s;
        }
      }
    }
  }
}
