@import '../Admin.scss';

@keyframes appearance {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.admin-card {
  display: flex;
  flex-direction: column;
  width: 95%;
  min-height: 400px;
  margin: 0 auto;
  padding: 8px 8px 0;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  transition: box-shadow 0.2s ease;
  background: #ffffff;
  margin-bottom: 30px;

  animation: appearance 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  &:hover > &__image {
    transform: scale(1.01);
  }

  &.disabled {
    div:not([class$='bottom']) {
      opacity: 0.25;
    }
  }

  &__image {
    width: 290px;
    height: 200px;
    max-width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: transform 0.2s ease;
  }

  &__img-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__weight {
    display: flex;
    justify-content: flex-end;

    font-size: 0.8rem;
    color: #666666;
  }

  &__title {
    font-weight: bold;
    font-size: 1.1rem;
  }

  &__description {
    font-size: 0.9rem;
    margin: 9px 0 10px;
    font-size: 0.8rem;
    color: #666666;
    flex-grow: 1;
    margin-bottom: 10px;
  }

  &__size-choose {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 30px;
    border: 0.5px solid #000;
    border-radius: 10px;

    &__item {
      height: 100%;
      display: flex;
      font-size: 0.78rem;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      &.active {
        p {
          color: #fff;
          z-index: 2;
          transition: color 0.3s linear;
        }
      }
    }
  }

  &__size-toggle {
    position: absolute;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #000;
    background: #000;
    transform: scale(1.05);

    transition: left 0.5s ease;
  }

  &__bottom {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__price {
      font-size: 1.4rem;
      font-weight: bold;

      span {
        font-size: 0.8rem;
      }
    }

    button {
      @include myButton($blue-color);
    }

    &__edit-btn {
      flex-basis: 40%;
      height: 60%;
    }
  }
}
